{% extends "base.html" %}

{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <p class="font-bold subpixel-antialiased mb-4">
            Do you want to delete "{{ object }}"?
        </p>

        {% block message %}{% endblock %}

        <button
            type="submit"
            class="inline-flex justify-center items-center text-white bg-blue-500 hover:bg-blue-400 rounded-md w-24 h-16"
        >
            Confirm
        </button>

        <a
            href="{% block cancel_url %}{% endblock %}"
            class="inline-flex justify-center items-center text-white bg-teal-500 hover:bg-teal-400 rounded-md w-24 h-16"
        >
            Cancel
        </a>
    </form>
{% endblock %}
