<!DOCTYPE html>
<html lang="en" class="h-full">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Logout</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body>
        <h2>You have been logged out</h2>

        <a
            href="{% url 'login' %}"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
        >
            Login
        </a>
    </body>
</html>
